<h1>Course Info</h1>

<%= form_tag course_infos_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], placeholder: "Course # or 'SUBJECT'"%>
  <%= submit_tag "Search", class: "btn btn-success my-2 my-sm-0"%>
<% end %>

<%= link_to "Advanced Search", new_search_path %>

<table>
  <tr>
    <th>Year</th>
    <th>Semester</th>
    <th>Department</th>
    <th>Number</th>
    <th>Section</th>
    <th>Description</th>
    <th>Prerequisites</th>
    <th>Corequisites</th>
    <th></th>
  </tr>

  <% @course_infos.each do |course_info| %>
    <tr>
      <td><%= course_info.year %></td>
      <td><%= course_info.semester %></td>
      <td><%= course_info.department %></td>
      <td><%= course_info.coursenumber %></td>
      <td><%= course_info.section %></td>
      <td><%= course_info.info_description %></td>
      <td><%= course_info.info_prerequisites %></td>
      <td><%= course_info.info_corequisites %></td>
      <td><%= link_to 'Details', 'http://www.sfu.ca/outlines.html?'+ course_info.info_outlinepath, target: :_blank%></td>
    </tr>
  <% end %>
</table>
