<br><br><br>

<h1>Prerequsite Details</h1>

<p>
  <strong>Department:</strong>
  <%= @corequisite.department %>
</p>
<p>
  <strong>Course Number:</strong>
  <%= @corequisite.courseNumber %>
</p>
<p>
  <strong>Requisite of Department:</strong>
  <%= @corequisite.requisiteOfDepartment %>
</p>
<p>
  <strong>Requisites of Course Number:</strong>
  <%= @corequisite.requisitesofCourseNumber %>
</p>
<p>
  <strong>Relationship:</strong>
  <%= @corequisite.relationship %>
</p>

<%= link_to 'Back', corequisites_path %>