<br><br><br>

<h1>Instructor Details</h1>

<p>
  <strong>First Name:</strong>
  <%= @instructor.fName %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @instructor.lName %>
</p>
<p>
  <strong>commonName:</strong>
  <%= @instructor.commonName %>
</p>
<p>
  <strong>officeName:</strong>
  <%= @instructor.officeName %>
</p>
<p>
  <strong>officeHours:</strong>
  <%= @instructor.officeHours %>
</p>
<p>
  <strong>email:</strong>
  <%= @instructor.email %>
</p>
<p>
  <strong>phone:</strong>
  <%= @instructor.phone %>
</p>
<p>
  <strong>roleCode:</strong>
  <%= @instructor.roleCode %>
</p>
<p>
  <strong>profileUrl:</strong>
  <%= @instructor.profileUrl %>
</p>


<%= link_to 'Back', instructors_path %>