<br><br><br>

<h1>Prerequsite Details</h1>

<p>
  <strong>Department:</strong>
  <%= @prerequisite.department %>
</p>
<p>
  <strong>Course Number:</strong>
  <%= @prerequisite.courseNumber %>
</p>
<p>
  <strong>Requisite of Department:</strong>
  <%= @prerequisite.requisiteOfDepartment %>
</p>
<p>
  <strong>Requisites of Course Number:</strong>
  <%= @prerequisite.requisitesofCourseNumber %>
</p>
<p>
  <strong>Relationship:</strong>
  <%= @prerequisite.relationship %>
</p>

<%= link_to 'Back', prerequisites_path %>