<br><br><br>

<h1>Course Outline Details</h1>

<p>
  <strong>year:</strong>
  <%= @course_outline.year %>
</p>
<p>
  <strong>semester:</strong>
  <%= @course_outline.semester %>
</p>
<p>
  <strong>department:</strong>
  <%= @course_outline.department %>
</p>
<p>
  <strong>number:</strong>
  <%= @course_outline.number %>
</p>
<p>
  <strong>title:</strong>
  <%= @course_outline.title %>
</p>
<p>
  <strong>courseSection:</strong>
  <%= @course_outline.courseSection %>
</p>
<p>
  <strong>outlinePath:</strong>
  <%= @course_outline.outlinePath %>
</p>
<p>
  <strong>deliveryMethod:</strong>
  <%= @course_outline.deliveryMethod %>
</p>
<p>
  <strong>departmentalUgradNotes:</strong>
  <%= @course_outline.departmentalUgradNotes %>
</p>
<p>
  <strong>designation:</strong>
  <%= @course_outline.designation %>
</p>
<p>
  <strong>type:</strong>
  <%= @course_outline.type %>
</p>
<p>
  <strong>courseDetails:</strong>
  <%= @course_outline.courseDetails %>
</p>
<p>
  <strong>prerequisites:</strong>
  <%= @course_outline.prerequisites %>
</p>
<p>
  <strong>description:</strong>
  <%= @course_outline.description %>
</p>
<p>
  <strong>name:</strong>
  <%= @course_outline.name %>
</p>
<p>
  <strong>educationGoals:</strong>
  <%= @course_outline.educationGoals %>
</p>
<p>
  <strong>classNumber:</strong>
  <%= @course_outline.classNumber %>
</p>
<p>
  <strong>shortNote:</strong>
  <%= @course_outline.shortNote %>
</p>
<p>
  <strong>section:</strong>
  <%= @course_outline.section %>
</p><p>
  <strong>shortNote:</strong>
  <%= @course_outline.shortNote %>
</p>
<p>
  <strong>units:</strong>
  <%= @course_outline.units %>
</p>
<p>
  <strong>corequisites:</strong>
  <%= @course_outline.corequisites %>
</p>
<p>
  <strong>registrarNotes:</strong>
  <%= @course_outline.registrarNotes %>
</p>
<p>
  <strong>gradingNotes:</strong>
  <%= @course_outline.gradingNotes %>
</p>
<p>
  <strong>term:</strong>
  <%= @course_outline.term %>
</p>
<p>
  <strong>notes:</strong>
  <%= @course_outline.notes %>
</p>
<p>
  <strong>degreeLevel:</strong>
  <%= @course_outline.degreeLevel %>
</p>

<%= link_to 'Back', course_outlines_path %>