<h1>Advanced Search</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>

  <div class="field">
    <pre><%= s.label :Year %>            <%= s.text_field :year %></pre>
  </div>

  <div class="field">
    <pre><%= s.label :Semester %>        <%= s.select :semester, options_for_select(@course_infos), :prompt_text => "Select a category", :include_blank => true%></pre>
  </div>

  <div class="field">
    <pre><%= s.label :Department %>      <%= s.text_field :department %></pre>
  </div>

  <div class="field">
    <pre><%= s.label :Course_Number %>   <%= s.text_field :coursenumber %></pre>
  </div>

  <div class="field">
    <pre><%= s.label :Prerequisites %>   <%= s.text_field :info_prerequisites %></pre>
  </div>

  <div class="actions">
    <%= s.submit "Search", class: "btn btn-success my-2 my-sm-0" %>
  </div>

<% end %>

<p><%= link_to 'Back', courses_path %></p>