<h1>Search Results</h1>

<%= form_for @search, html: {class: "pure-form"} do |s| %>

  <div class="field">
    <pre><%= s.label :Year %>            <%= s.text_field :year %></pre>
  </div>

  <div class="field">
   <pre><%= s.label :Semester %>        <%= s.select :semester, options_for_select(@course_infos), :prompt_text => "Select a category", :include_blank => true%></pre>
  </div>

  <div class="field">
    <pre><%= s.label :Department %>      <%= s.text_field :department %></pre>
  </div>

  <div class="field">
    <pre><%= s.label :Course_Number %>   <%= s.text_field :coursenumber %></pre>
  </div>
  
  <div class="field">
    <pre><%= s.label :Prerequisites %>   <%= s.text_field :info_prerequisites %></pre>
  </div>

  <div class="actions">
    <%= s.submit "Search", class: "btn btn-success my-2 my-sm-0" %>
  </div>

<% end %>
<br>

<p><%= link_to 'Back to Courses page', courses_path %><br>

<%= link_to 'Back to Advanced Search', new_search_path %></p>

<% if @search.search_course_infos.empty? %>
  <p>No Course Found</p>

<% else %>
<!--  <%# @search.search_courses.each do |c| %><br>-->
    <div class="div">
      <table>
        <tr>
          <th>Department</th>
          <th>Course Number</th>
          <th>Section</th>
          <th>Year</th>
          <th>Semester</th>
          <th>Prerequisites</th>
          <th>Corequisites</th>
          <th></th>
        </tr>

        <% @search.search_course_infos.each do |c| %>
          <tr>
            <td><%= c.department %></td>
            <td><%= c.coursenumber %></td>
            <td><%= c.section %></td>
            <td><%= c.year %></td>
            <td><%= c.semester %></td>
            <td><%= c.info_prerequisites %></td>
            <td><%= c.info_corequisites %></td>
            <td><%= link_to 'Details', course_info_path(@course_infos) %></td>
          </tr>
        <% end %>
      </table>
    </div>

<% end %>