<br><br><br>

<p>
  <strong>Name:</strong>
  <%= @campus.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @campus.address %>
</p>
<p>
  <strong>City:</strong>
  <%= @campus.city %>
</p>
<p>
  <strong>Province:</strong>
  <%= @campus.province %>
</p>
<p>
  <strong>Postal Code:</strong>
  <%= @campus.postalCode %>
</p>