<h1>Courses</h1>

<!--this view only for simple search-->

<%= form_tag courses_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], placeholder: "Course # or 'SUBJECT'"%>
  <%= submit_tag "Search", class: "btn btn-success my-2 my-sm-0"%>
<% end %>

<%= link_to "Advanced Search", new_search_path %>

<p>Here's how this works.</p>
<p>You can search for a department or a specific course number but if you want to
  refine your search, click on 'Advanced Search'</p>

<table>
  <tr>
    <th>Department</th>
    <th>Course Number</th>
    <th>Section</th>
    <th>Year</th>
    <th>Semester</th>
    <th>Prerequisites</th>
    <th>Corequisites</th>
    <th></th>
  </tr>

<!--  For old courses table-->
  <%# @courses.each do |course| %>
<!--    <tr>-->
<!--      <td><%#= course.subject %></td>-->
<!--      <td><%#= course.number %></td>-->
<!--      <td><%#= course.credits %></td>-->
<!--      <td><%#= course.year %></td>-->
<!--      <td><%#= course.semester %></td>-->
<!--      <td><%#= course.prerequisites %></td>-->
<!--      <td><%#= course.corequisites %></td>-->
<!--      <td><%#= link_to 'Details', course_path(course) %></td>-->
<!--    </tr>-->
  <%# end %>

<!--  for new course_infos table-->
  <% @course_infos.each do |course_info| %>
    <tr>
      <td><%= course_info.department %></td>
      <td><%= course_info.coursenumber %></td>
      <td><%= course_info.section %></td>
      <td><%= course_info.year %></td>
      <td><%= course_info.semester %></td>
      <td><%= course_info.info_prerequisites %></td>
      <td><%= course_info.info_corequisites %></td>
      <td><%= link_to 'Details', course_info_path(@course_infos) %></td>
    </tr>
  <% end %>

</table>