<h1>Courses</h1>

<%= form_tag courses_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], placeholder: "Course # or 'SUBJECT'"%>
  <%#= submit_tag "Search" %>
  <%= submit_tag "Search", class: "btn btn-success my-2 my-sm-0"%>
<% end %>

<%= link_to "Advanced Search", new_search_path %>

<table>
  <tr>
    <th>Subject</th>
    <th>Course Number</th>
    <th>Credits</th>
    <th>Year</th>
    <th>Semester</th>
    <th>Prerequisites</th>
    <th>Corequisites</th>
    <th></th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.subject %></td>
      <td><%= course.number %></td>
      <td><%= course.credits %></td>
      <td><%= course.year %></td>
      <td><%= course.semester %></td>
      <td><%= course.prerequisites %></td>
      <td><%= course.corequisites %></td>
      <td><%= link_to 'Details', course_path(course) %></td>
    </tr>
  <% end %>
</table>