<h1>Add New Course</h1>

<%= form_with scope: :course, url: courses_path, local: true do |form| %>
  <p>
    <%= form.label :subject %><br>
    <%= form.text_field :subject %>
  </p>

  <p>
    <%= form.label :number %><br>
    <%= form.text_field :number %>
  </p>

  <p>
    <%= form.label :credits %><br>
    <%= form.text_field :credits %>
  </p>

  <p>
    <%= form.label :prerequisites %><br>
    <%= form.text_area :prerequisites %>
  </p>

  <p>
    <%= form.label :corequisites %><br>
    <%= form.text_area :corequisites %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', courses_path %>