<!--view to show attributes-->
<h3>Course Details</h3>
<p>
  <strong>subject:</strong>
  <%= @course.subject %>
</p>

<p>
  <strong>number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>credits:</strong>
  <%= @course.credits %>
</p>

<p>
  <strong>year:</strong>
  <%= @course.year %>
</p>

<p>
  <strong>semester:</strong>
  <%= @course.semester %>
</p>

<p>
  <strong>pre-requisites:</strong>
  <%= @course.prerequisites %>
</p>

<p>
  <strong>co-requisites:</strong>
  <%= @course.corequisites %>
</p>

<%= link_to 'Back', courses_path %>