<!--view to show attributes-->
<h3>Course Details</h3>
<p>
  <strong>Department:</strong>
  <%= @course_info.department %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course_info.coursenumber %>
</p>

<p>
  <strong>Year:</strong>
  <%= @course_info.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course_info.semester %>
</p>

<p>
  <strong>Pre-requisites:</strong>
  <%= @course_info.info_prerequisites %>
</p>

<p>
  <strong>Co-requisites:</strong>
  <%= @course_info.info_corequisites %>
</p>

<%= link_to 'Back', courses_path %>