<!DOCTYPE html>
<html>
  <head>
    <title>SFU Book</title>

    <style>
      html {
        height: 100%;
        width: 100%;
        font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
      }

      body {
        background-color: #232732;
        background-image: linear-gradient(45deg, #693f9c, #3b70cc, #4491d4);
        margin: 0;
      }

      /*############# MAIN ##############*/
      /*NAVBAR*/
      .navbar-container {
        height: 50px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid white;
        color: white;
        padding-top: 30px;
      }
      .navbar-title {
        width: 100px;
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 1.5em;
        font-weight: bold;
        color: white;
      }
      .navbar li {
        display: inline;
      }
      .navbar {
        padding: 0;
        float: right;
      }
      .nav-link {
        text-decoration: none;
        color: white;
        font-weight: lighter;
        font-size: 1.2em;
        padding-right: 20px;
      }
      .nav-link:hover {
        color: #94bdeb;
      }

      /*GENERAL*/
      .container {
        width: 100%;
      }

      /*############# WELCOME VIEW ##############*/
      #welcome-view {
        text-align: center;
        color: white;
        height: 100%;
        width: 100%;
      }
      #welcome-background {
        position: fixed;
        z-index: -1;
        height: 100vh;
        width: 100%;
        background: url("/assets/Network-PNG-Transparent-backup.png")
          no-repeat 15% 30% fixed;
        background-size: 170vh;
        transition: 0.7s opacity;
      }
      .welcome-arrow-d {
        border: solid #73a2d8ad;
        border-width: 0 10px 10px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(45deg);
        position: absolute;
        bottom: 40px;
        left: 48%;
      }
      .welcome-container {
        width: 100%;
        padding-top: 200px;
        margin-bottom: -200px;
      }
      #welcome-hero {
        height: 100vh;
        margin-bottom: -345px;
        text-align: left;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        transition: 1.4s opacity;
      }
      .welcome-hero-container {
        margin-left: -25%;
        width: 100%;
      }
      .welcome-title {
        font-size: 3em;
      }
      #welcome-title-desc {
        margin-top: -30px;
        font-size: 1.6em;
        font-family: "Times New Roman", Times, serif !important;
        transition: 1.4s;
        height: 50px;
        width: 220px;
      }
      .welcome-courses-btn {
        color: white;
        margin-top: 50px;
        font-size: 0.9em;
        border-radius: 40px;
        padding: 15px 50px 15px 50px;
        background-color: #73a2d8;
        border-color: none;
        border-style: none;
      }
      .welcome-courses-btn:hover {
        background-color: #94bdeb;
        cursor: pointer;
      }
      .welcome-content {
        background-color: white;
        color: #4e4e4e;
        min-height: 100vh;
        margin-bottom: -80px;
        width: 100%;
        text-align: left;
        font-weight: lighter;
      }
      #welcome-details {
        padding: 150px 100px 100px 100px;
      }
      #welcome-details a {
        text-decoration: none;
      }
      #welcome-details-info {
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.3em;
        transition: 1.4s;
      }
      #welcome-details-about {
        margin-top: 150px;
        text-align: center;
        padding-left: 30%;
        padding-right: 30%;
        font-size: 1.3em;
        transition: 1.4s;
      }
      .welcome-details-about-header {
        font-size: 2em;
        margin-bottom: 20px;
        color: black;
      }
      #welcome-details-start {
        margin-top: 150px;
        text-align: center;
        padding-left: 30%;
        padding-right: 30%;
        margin-bottom: 50px;
        transition: 1.4s;
        font-size: 3em;
        color: #51289e;
        text-decoration: none;
      }
      #welcome-details-start:hover {
        cursor: pointer;
      }
      .welcome-footer {
        font-size: 1.5em;
        height: 80px;
        padding-top: 40px;
        background-color: #f0f0f0;
        color: black;
      }
      .welcome-copyright {
        margin-top: 50px;
        font-size: 0.6em;
        color: #b6b6b6;
      }

      .fade {
        opacity: 0;
      }
      .horizontal-translate {
        margin-left: -50%;
      }
      .vertical-translate {
        margin-bottom: -50%;
      }
    </style>
  </head>

  <script>
    window.onload = function() {
      var img = document.getElementById("welcome-background");
      var bodyHeight = window.pageYOffset;

      window.addEventListener("scroll", function() {
        var scroll = this.scrollY;
        img.style.transform = "rotate(" + scroll / 60 + "deg)";

        if (scroll >= window.innerHeight) {
          setInterval(function() {
            document.getElementById("welcome-details-info").classList.remove("vertical-translate");
          }, 350);
          setInterval(function() {
            document.getElementById("welcome-details-info").classList.remove("fade");
          }, 150);
          setInterval(function() {
            document.getElementById("welcome-details-about").classList.remove("vertical-translate");
          }, 1350);
          setInterval(function() {
            document.getElementById("welcome-details-about").classList.remove("fade");
          }, 1050);
          setInterval(function() {
            document.getElementById("welcome-details-start").classList.remove("fade");
          }, 1950);
        }
      });

      document.getElementById("welcome-hero").classList.remove("fade");
      document.getElementById("welcome-background").classList.remove("fade");

      setInterval(function() {
        document
          .getElementById("welcome-title-desc")
          .classList.remove("horizontal-translate");
      }, 650);
      setInterval(function() {
        document.getElementById("welcome-title-desc").classList.remove("fade");
      }, 850);
    };
  </script>

  <body>
    <div class="navbar-container">
      <div class="navbar-title">
        awesome
      </div>
      <ul class="navbar">
        <li class="nav-item">
          <a class="nav-link" href=/welcome>HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=/courses>COURSES</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
        </li>
      </ul>
    </div>
    <!--
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href=/welcome>SFU Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=/welcome>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=/courses>Courses</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Views</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="List View">List View</a>
              <a class="dropdown-item" href="Tree View">Tree View</a>
              <a class="dropdown-item" href="Awesome Cloud View">Awesome Cloud View</a>
            </div>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>

    <div class="form-inline mt-2 mt-md-0">
      <%= form_tag courses_path, :method => 'get' do %>
      <%= text_field_tag :search, nil, placeholder: "Course # or 'SUBJECT'", class: "form-control mr-sm-2"%>
      <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0"%>
    <% end %>


    <div style="padding-left: 10px;">
      <form class="form-inline">
      <button class="btn btn-outline-primary" type="button">Login</button>
      </div>
      <div style="padding-left: 10px;">
        <button class="btn btn-danger" type="button">Sign Up</button>
      </div>
      </form>

    </div>
  </nav>
  -->

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

<!--

<!DOCTYPE html>
<html>
  <head>
    <title>SFU Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%-#  line below enables bootstrap -%>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>

    <style>
      /* The sidebar menu */
      .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 160px; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #F7F7F7; /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 80px;
      }

      /* The navigation menu links */
      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
      }

      /* Style page content */
      .main {
        margin-left: 160px; /* Same as the width of the sidebar */
        padding: 0px 10px;
      }

      /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
    </style>

  </head>

  <body>

  <%-#  code from: https://getbootstrap.com/docs/4.3/examples/sticky-footer-navbar/ -%>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href=/welcome>SFU Book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=/welcome>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=/courses>Courses</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Views</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="List View">List View</a>
              <a class="dropdown-item" href="Tree View">Tree View</a>
              <a class="dropdown-item" href="Awesome Cloud View">Awesome Cloud View</a>
            </div>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>

      <div class="form-inline mt-2 mt-md-0">
        <%= form_tag courses_path, :method => 'get' do %>
        <%= text_field_tag :search, nil, placeholder: "Course # or 'SUBJECT'", class: "form-control mr-sm-2"%>
        <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0"%>
      <% end %>


      <div style="padding-left: 10px;">
      <form class="form-inline">
      <button class="btn btn-outline-primary" type="button">Login</button>
      </div>
      <div style="padding-left: 10px;">
        <button class="btn btn-danger" type="button">Sign Up</button>
      </div>
      </form>

    </div>
  </nav>
  <div class ="container">
    <%= yield %>
  </div>

  <div class="sidenav">
    <div class="col-12 col-md">
      <div class="col-10 col-md">
            <h5>Awesome Links</h5>
              <a href="https://www.sfu.ca/students/calendar/2019/fall.html" target="_blank">Academic Calender</a>
              <a href="https://www2.cs.sfu.ca/CourseCentral/276/stevenp/" target="_blank">276 Course Website</a>
      </div>
    </div>
  </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>

-->
